native
war
src/io
src/org
src/com
*~
Makefile
Makefile.in
HomeworldSDL.big
local.properties
*.o
*.o.d
*.class
*.Po
*.a
*.so

Mac/build
Mac/Homeworld.xcodeproj/*.mode*
Mac/Homeworld.xcodeproj/*.pbxuser

tools/biggie/biggie

cache
build
